@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@300&family=Playfair+Display&display=swap');

* {

    margin: 0;
    padding: 0;
    border: none;

} 

body {

    font-family: Mukta, sans-serif;
    font-weight: 300;
    color: #00130a;

}

/*Heading*/

/*Name and logo*/

h1, h2 {

    font-family: Playfair Display, sans-serif;
    letter-spacing: 2px;
    text-transform: capitalize;
    color: #0f0e0e;
    text-shadow:
    -1px -1px 0 #fff,
    1px -1px 0 #fff,
    -1px 1px 0 #fff,
    1px 1px 0 #fff; 
    
}

hr {

    border-top: 4px solid #42855b;
    width: 20rem;
    margin: 5px 0;

}

#logo {

    float: left;
    

}

/*Site navigation menu*/

#nav-menu li {

    list-style-type: none;
    display: inline-block;
    margin-right: 1rem;
    
}

#nav-menu a {

    text-decoration: none;
    color: inherit;
    
}


/*Seach line*/

#search {

    margin: 0 30px;
    border: #00130a solid 2px;
    display: inline-flex;
    flex-direction: row;
    
}

.btn {

    padding: 6px;
    background-color: #42855b;

}

.btn:hover {

    background-color: #90b77d;

}

#menu {

    float: right;
    
}

/*Header image*/

#header-img {

    background: url('../images/header1.jpg') no-repeat center center;
    height: 500px;

}




