@import url('https://fonts.googleapis.com/css2?family=Lato&family=Noto+Serif+Georgian&family=Playfair+Display&display=swap');
* {

    margin: 0;
    padding: 0;
    border: none;

} 

body {

    font-family: Loto, sans-serif;
    font-weight: 400;
    color: #00130a;
    font-size: medium;

}

/*Heading*/

/*Name and logo*/


h1, h2 {

    font-family: Playfair Display, sans-serif;
    letter-spacing: 2px;
    text-transform: capitalize;
        
    /*make white color with black border for main header to make contrast with background*/

    color: whitesmoke;   
    text-shadow:
    -1px -1px 0 #0f0e0e,
    1px -1px 0 #0f0e0e,
    -1px 1px 0 #0f0e0e,
    1px 1px 0 #0f0e0e; 
    
}

h1 {

    font-size: 400%;

}

h2 {

    font-size: 200%;

}

/*Create grean line in header*/

hr {

    border-top: 4px solid #42855b;
    width: 100%;
    margin: 5px 0;

}

#logo {

    float: left; 
    margin-left: 4%;    

}

/*Site navigation menu*/

#nav-menu li {

    list-style-type: none;
    display: inline-block;
    margin-right: 1rem;
    
}

#nav-menu a {

    text-decoration: none;
    letter-spacing: 2px;
    color: whitesmoke;   
    text-shadow:
    -1px -1px 0 #0f0e0e,
    1px -1px 0 #0f0e0e,
    -1px 1px 0 #0f0e0e,
    1px 1px 0 #0f0e0e;
    
}

/*Seach line*/

#search {

    margin-right: 1rem;
    margin-top: 5%;
    border: #00130a solid 2px;
    display: inline-flex;
    flex-direction: row;
    float: right;    
    
}

.btn {

    padding: 8px;
    background-color: #54926b;

}

.btn:hover {

    background-color: #90b77d;

}

#menu {

    float: right;
    margin: 1%;
    
}    

/*Header image*/

header {

    background: url('../images/header1.jpg') no-repeat center center;
    height: 500px;
           

}

/*Historical article*/

#header-2 {

    text-align: center;
    margin: 2rem;
    text-shadow: none;
    color: inherit;

}

#history p {

   text-align: center;
   margin: 0 10%;
   font-size: medium;
   line-height: 2;
   
}

/*article images*/

#row {

    display: inline-flex;
    overflow:visible;
    clear: both;
    line-height: 0;
    column-count: 4;
    column-gap: 0.5%;
    margin: 5%;
           
}

#row img {

    width: 100%;
    transition: 2s;
    display: block;
    
}

/*makes photos biger*/

#row img:hover {

    transform: scale(1.2); 
    border: #90b77d solid 5px; 
        
}

.bloc {

    width: 100%;
    margin: 0.5rem 0.1rem;   

}

/*Second section*/

#life h2 {

    text-shadow: none;
    color: inherit;
    text-align: center;
        
}

/*Place photo and content in one line*/

#life-photos {

    display: inline-flex;
    flex-direction: column;
    position: relative;
    justify-content: space-evenly;
    margin: 3%;     
        
}

.images-life {

    display: inline-flex;
    flex-direction: row;
    margin: 2%;

}

#life-photos img {

    width: 20%;           
    
}   

h4 {

    font-family: Playfair Display, sans-serif;
    letter-spacing: 2px;
    text-transform: capitalize;
    font-size: 100%;
    
}

#life-photos hr {

    border-top: 2px solid #4e9769;
    
}

.about {

    text-align: justify;
    margin: 3%;

}

/*Footer*/

footer {

    /*Radial-gradient makes backgroun color more smoothly but stil highlights links*/

    background: radial-gradient(circle at 10% 20%, rgb(58, 179, 116) 0%, rgb(224, 233, 223) 100.2%);
    height: fit-content;    

}

.social-networks {

    text-align: center;
    margin-bottom: 2%;

}

.social-networks > li {

    display: inline;

}

/*Style ikons for social-media and contacts links*/

.social-networks i {

    border-radius: 50%; 
    border: #000503 solid 1px;
    font-size: 130%;
    margin: 3% 5% 0;       
    color: #01361d;
    padding: 1%;
    
} 

#contacts-link {

    text-align: center;
    margin: 0 40%;
}

#contacts-link i {

    font-size: 70%;
    margin: 3% 5% 0;       
    color: #000503;   

}

#contacts-link a {

    font-size: 160%;         
    color: #000503;
    text-decoration: none;    

}

/*contacts page*/

#header-contacts {

    background: url('../images/header1.jpg') center center no-repeat;
    height: 400px;

}

iframe {

    height: 200px;
    width: 50%;
    margin: 3% 25%;      

}

/*Place content in the middle*/

#contacts {

    float: auto auto;
        
}

#contacts > h2 {

    text-shadow: none;
    color: inherit;
    text-align: center;
    margin: 3% 0;

}

#contacts > h4 {

    text-align: center;
    margin: 1%;

}

/*Signup page*/


/*Place content in the middle*/

#signup {

    display: inline-block;
    position: relative;
    text-align: left;
    margin: 3% 35%;

}

.frame {

    border: #053b22 solid 0.5px;

}

#signup hr {

    border: none;
    margin: 2% 0;

}

#signup .btn {

    float: right;

}

#age > input {

    margin-left: 4%;

}

/*Gallery page*/

#gallery-img {
    
    margin: 1rem 0;
    clear: both;
    column-count: 4;
    line-height: 3;    
    column-gap: 1;    

}

#gallery h2 {
    
    text-shadow: none;
    color: inherit;
    text-align: center;
    margin-bottom: 3%;
    margin-top: 3%;
    font-size: 300%;
   
}

#gallery img {

    width: 100%;

}

/* Media queries */

/* For small screen sizes below 600px width */

@media screen and (max-width: 600px) {

    #menu {
        display: inline-block;
        position: relative;
        text-align: center;
        margin: 10% 0;
    }

    #nav-menu a {
        letter-spacing: 0.5px;
    }

    h1 {
        font-size: 200%;
    }

    h2 {
        font-size: 100%;
    }

    .images-life {
        display: inline-flex;
        flex-direction: column;
        margin: 2%;
    }

    #life-photos img {
        width: 50%;
        display: inline-block;
        position: relative;
        margin: auto;
    }

    .social-networks i {  
        font-size: 70%;               
        color: #01361d;              
    } 

    #contacts-link i {
        font-size: 70%;
        margin: 3% 3% 0;       
        color: #000503;
    }
    #contacts-link a {
        font-size: 100%;         
        color: #000503;
        text-decoration: none;    
    }
    #contacts-link {
        text-align: center;
        margin: 0 30%;
    }
   
}




