@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@300&family=Playfair+Display&display=swap');

* {

    margin: 0;
    padding: 0;
    border: none;

} 

body {

    font-family: Mukta, sans-serif;
    font-weight: 300;
    color: #00130a;

}

/*Heading*/

/*Name and logo*/

h1, h2 {

    font-family: Playfair Display, sans-serif;
    letter-spacing: 2px;
    text-transform: capitalize;
    font-size: 300%;
    
    /*make white color with black border for main header */

    color: whitesmoke;   
    text-shadow:
    -1px -1px 0 #0f0e0e,
    1px -1px 0 #0f0e0e,
    -1px 1px 0 #0f0e0e,
    1px 1px 0 #0f0e0e; 
    
}

h2 {

    font-size: 200%;
}

hr {

    border-top: 4px solid #42855b;
    width: 100%;
    margin: 5px 0;

}

#logo {

    float: left;    

}

/*Site navigation menu*/

#nav-menu li {

    list-style-type: none;
    display: inline-block;
    margin-right: 1rem;
    
}

#nav-menu a {

    text-decoration: none;
    color: inherit;
    
}

/*Seach line*/

#search {

    margin-right: 1rem;
    border: #00130a solid 2px;
    display: inline-flex;
    flex-direction: row;
    float: right;
    
    
}

.btn {

    padding: 6px;
    background-color: #42855b;

}

.btn:hover {

    background-color: #90b77d;

}

#menu {

    float: right;
    
}

/*Header image*/

#header-img {

    background: url('../images/header1.jpg') no-repeat center center;
    height: 500px;

}

/*Historical article*/

#header-2 {

    text-align: center;
    margin: 2rem;

}

#header-2 h2 {

    text-shadow: none;
    color: inherit;
    
}

#history p {

   text-align: center;
   margin: 0 10%;
   font-size: medium;
   
}

/*article images*/

#row {

    display: inline-flex;
    overflow:visible;
    clear: both;
    line-height: 0;
    column-count: 4;
    column-gap: 0.5%;
    margin: 5%;
           
}

#row img {

    width: 100%;
    transition: 2s;
    display: block;
    
}

/*makes photos biger*/

#row img:hover {

    transform: scale(1.2); 
    border: #90b77d solid 5px; 
        
}

.bloc {

    width: 100%;
    margin: 0.5rem 0.1rem;   

}

/*Second section*/

#life h2 {

    text-shadow: none;
    color: inherit;
    text-align: center;
        
}

#life-photos {

    display: inline-flex;
    position: relative;
    justify-content: space-evenly;
    margin: 3%;     
        
}

.images-life {

    width: 30%; 

}

#life-photos img {

    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto; 
    margin-top: auto;
    margin-bottom: auto;        
    
}   

h4 {

    font-family: Playfair Display, sans-serif;
    letter-spacing: 2px;
    text-transform: capitalize;
    font-size: 100%;
    
}

#life-photos hr {

    border-top: 2px solid #4e9769;
    
}

.about {

    text-align: justify;
    margin: 3%;

}

/*Footer*/

footer {

    height: 100px;

}

.social-networks {

    text-align: center;

}

.social-networks > li {

    display: inline;

}

.social-networks i {

    font-size: 160%;
    margin: auto auto;
    padding: 5%;
    color: #01361d;
    
} 

/*contacts page*/

#contacts-img {

    background: url('../images/swansR.jpg') center center no-repeat;
    width: 100%;
    height: 600px;
    
}